In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [2]:
train = pd.read_csv('/kaggle/input/titanic/train.csv')
test=pd.read_csv('/kaggle/input/titanic/test.csv')
train.head()
train.Age = (train['Age']>train.Age.mean()).astype(int)
train.isna().sum()
test.Age = (test['Age']>test.Age.mean()).astype(int)
test.Fare = (test.Fare > test.Fare.mean()).astype(int)
train.Fare = (train.Fare > train.Fare.mean()).astype(int)

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,1,0,0,330911,0,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,1,0,363272,0,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,1,0,0,240276,0,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,0,0,0,315154,0,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,0,1,1,3101298,0,NaN,S

In [4]:
women = train.loc[train.Sex=='female']['Survived']

survived_women = sum(women)/len(women)
print(survived_women)
men = train.loc[train.Sex=='male']['Survived']

survived_men = sum(men)/len(men)
print(survived_men)

0.7420382165605095
0.18890814558058924

In [5]:
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC


y = train['Survived']

features = ['Pclass','Sex','SibSp','Parch','Age','Fare']
X_train = pd.get_dummies(train[features])

X_test = pd.get_dummies(test[features])
print(X_test)
Rmodel = RandomForestClassifier(n_estimators=100,max_depth=10)
Rmodel.fit(X_train,y)

predictions_Random = Rmodel.predict(X_test)



# accuracy_score(predictions_Random,y)


output = pd.DataFrame({
    'PassengerId':test.PassengerId,
    'Survived':predictions_Random
})
output.to_csv('my_submission.csv',index=False)
print('Your submission was successfully saved!')

     Pclass  SibSp  Parch  Age  Fare  Sex_female  Sex_male
0         3      0      0    1     0           0         1
1         3      1      0    1     0           1         0
2         2      0      0    1     0           0         1
3         3      0      0    0     0           0         1
4         3      1      1    0     0           1         0
..      ...    ...    ...  ...   ...         ...       ...
413       3      0      0    0     0           0         1
414       1      0      0    1     1           1         0
415       3      0      0    1     0           0         1
416       3      0      0    0     0           0         1
417       3      1      1    0     0           0         1

[418 rows x 7 columns]
Your submission was successfully saved!